@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*              Sass Template           */
/*  global classes  */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* typography classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/* Color Template  */
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00A5C4;
}

.color-second-bg {
  background: #00A5C4;
}

.color-yellow {
  color: #FFD289;
}

.color-yellow-bg {
  background: #FFD289;
}

/*  top sale template   */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/*   Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}



/* css for log in */

.hero{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./assets/logres/temp.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

.btn-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
}

.social-icons{
  margin: 30px auto;
  text-align: center;
}

.social-icons img{
  width: 30px;
  margin: 0 12px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
}

.input-group{
  /*top: 180px;*/
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.chech-box{
  margin: 30px 10px 30px 0;
  padding: 20px;
}

.log-spn{
  color: #777;
  font-size: 12px;
  position: absolute;
}

#login{
  left: 50px;
}

#register{
  left: 450px;
  bottom: 200px;
}



/* style for contact */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./assets/contact/temp3.jpg);
  background-size: cover;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contact .content p{
  font-weight: 300;
  color: #fff;
}
.contact-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact-container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contact-container .contactInfo .box .text h3{
  color: #00bcd4;
  font-weight: 500;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  font-weight: 500;
  color: #333;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea{
  padding: 5px 0;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px){
  .contact{
      padding: 50px;
  }
  .contact-container{
      flex-direction: column;
  }
  .contact-container .contactInfo{
      margin-bottom: 40px;
  }
  .contact-container .contactInfo, .contactForm{
      width: 100%;
  }
}



/* team css */

.team{
  margin: 75px 0;
}
.heading1{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  padding-bottom: 10px;
}
.heading1:after{
  content: '';
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}
.profile{
  margin-top: 25px;
}
.profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}
.profile h2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.profile h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
.team-img-box:after{
  content: '';
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.team-img-box ul{
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50;
  transform: translateX(-50%);
  opacity: 0;
}
.team-img-box ul li{
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 3px;
  padding: 7px;
  display: inline-block;
}
.team-img-box a{
  color: #fff;
}
.team-img-box:hover:after{
  opacity: 1;
}
.team-img-box:hover ul{
  opacity: 1;
}
.team-img-box a:hover li{
  color: #007bff;
  border: 1px solid #007bff;
}
.team-img-box:after, .img-box ul, .img-box ul li{
  transition: all 0.5s ease-in-out 0s;
}

